.hidden {
  display: none;
}

img {
  display: block;
  max-width: 600px;
  height: auto;
}

.cat-info {
  margin-bottom: 25px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cat-description p {
  width: 300px;
}

/* .loader {
  color: gray;
} */

.loader {
  width: 35px;
  height: 35px;
  margin-top: 5px;
  margin: auto;

  border: 5px solid #5897fb;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;

  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
}

.loader.hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
